.Code {
    position: relative;
    border: 1px solid var(--primary-color);
    background: var(--code-bg);
    overflow: auto;
    padding: 20px;
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.copyIcon {
    stroke: var(--primary-color);
}
