.app_green_theme {
    --bg-color: #f8fbf4;
    --inverted-bg-color: #70c70f;
    --primary-color: #a1900c;
    --secondary-color: #f8fbf4;
    --inverted-primary-color: #f8fbf4;
    --inverted-secondary-color: #a1900c;
}
