.app_green_theme {
    --bg-color: #f8fbf4;
    --inverted-bg-color: #70c70f;
    --primary-color: #a1900c;
    --secondary-color: #d5be11;
    --inverted-primary-color: #f8fbf4;
    --inverted-secondary-color: #a1900c;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
